# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 802b488ab1c9ef3940311adc26c5fb872c86a52edf685ed49176290b0107529998a8f42caa9502ac115f582f5a2451cac98f006c41ed5f1b64588d3fa050d5dd

test:
  secret_key_base: 29472a42ba739b0f249c61894bc7afb268af581ed057c1dc753b8553d85489c6cff8650c3ea622fef5df697062f4ea11b6973c7776b18aa9b43c8e8663284b0a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
